{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>



<body style="margin: 0 auto; text-align:center;">




    <!-- 로그인 입니다. -->
    <br><br><br><br>
    <div class="box">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <br><br>
            <h4>로그인하기</h4>
            <br>
            <div class="id-box">
                <input class="id-input" type="text" name="username" placeholder="아이디를 입력하세요.">
            </div>
            <br>
            <div class="password-box">
                <input class="password-input" type="text" name="password" placeholder="비밀번호를 입력하세요.">
            </div>
            <br><br>
            <input class="login-input" type="submit" value="로그인하기">
            <br>
            <br>
            <a style="text-decoration: none;
                color: gray;" href="{%url 'signup00'%}">
                <p>회원가입하기</p>
            </a>

            <hr align="center" style="border: soild 10px; width:25%; ">
        </form>
    </div>
    <br>
    <br>
    <br>
</body>
{% endblock %}