*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

#logo{ line-height: 80px; float: left;
    
}
.wrapper{
    width: 1200px; margin: 0 auto; 
}
.clearfix{content: ''; display: block; clear: both;}

header{
    height: 80px; border-bottom: 2px solid #888B81; box-shadow: 10px 10px 30px #c2c4c4; position: fixed; width: 100%; z-index: 9999; top: 0; left: 0;
    background-color: white; font-weight: bold; transition: opacity 1s; 
}

.menu{float: right;  margin-top: 20px;}
.menu li{float: left;}
.menu a{ line-height: 80px; color: #888B81; padding: 0 10px; }





footer{
    height: 100px;background-color: #888B81;  width: 100%; bottom: 0; left: 0; 
}

.foo_div{
    float: left;
    
    margin-left: 18px;

}

.foo_div1{
    text-align: center; 
}

.foo_div1 span{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.foo_div1 p{
    margin: 5px;
    color:white;
    font-weight: bold;
}