*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

.page{
    width: 1170px; margin: 0 auto;
}
.clearfix{content: ''; display: block; clear: both;}

header{
    height: 70px; border: 1px solid #253342; position: fixed; width: 100%; z-index: 9999; top: 0; left: 0;
}

.menu{float: right;}
.menu li{float: left;}
.menu a{ line-height: 70px; color: #888B81; padding: 0 15px; display: block;}

.page{
    width: 1170px; margin: 0 auto;
}