@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }


h1 {
    
    padding-top: 100px;
    margin-left:15px;
    margin-bottom: 57.44;
    color: #888B81;
    font-family: 'LotteMartDream';
}

.product_image1{
    display: inline-block;
    vertical-align: middle;
}

#grid{
    margin-top: 76px;
}

#grid_2{
    margin-left: 50px;
    
    
}

.main_event{
    font-family: 'LotteMartDream';
    display:inline-block;
    margin-left: 20px;
    
}


.main_event_2 { 
    font-family: 'LotteMartDream';
    display:inline-block;
    margin-left: 52px;
}

.main_event_3 {
    font-family: 'LotteMartDream';
    margin-left: 19px;
    margin-top: 57px;
    margin-right: 718px;
    margin-bottom: 80px;
}