h1 {
    padding-top: 100px;
    margin-left: 7px;
    margin-bottom: 57.44;
    color: #888B81;
}

.product_image1{
    display: inline-block;
    vertical-align: middle;
}

#grid_2{
    margin-left: 50px;
    
}

.main_event{

    display:inline-block;
    margin-left: 20px;
  
}


.main_event_2 { 
    display:inline-block;
    margin-left: 52px;
    
    
    
}

.main_event_3 {
   
    margin-left: 19px;
    margin-top: 27px;
    margin-right: 718px;
    
    
}