{% extends "base.html" %}
{%load static%}

{% block link %}
{% static 'css/eventdetail.css' %}
{% endblock  %}
{% block content  %}

<div class="container">
    <div id="event" class="row featurette">
        <div class="col-md-4">
            <img src="{{ event.image.url }}" width="150%" alt="Event_Image">
        </div>
        <div class="col-md-6">
            <h2 class="featurette-heading">{{ event.title }}<span id="namedeco" class="text-muted"> 헤어 디자이너</span></h2>
            <p class="lead">{{ event.description }}</p>
        </div>
    </div>
</div>

{% endblock %}