{% extends "base.html" %}
{%load static%}
{% block content  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .text {
            text-align: center;
        }
    </style>
    <title>이벤트</title>
    <link rel="stylesheet" href="static 'css/eventdetail.css'">
</head>


<div class="container">
    <div class="text">
        <div class="text">
            <br><br><br><br><br>
            <img src="{{ event.image.url }}" width="30%" alt="Event_Image">
        </div>
        <div class="text">
            <br><br><br>
            <h2 style="color: #8DB72A;">{{ event.title }}</h2>
            <br><br>
            <p style="color: #888B81;">{{ event.description }}</p>
            <br><br><br>
        </div>
    </div>
</div>

{% endblock %}