<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>상품명</title>
	<link rel="stylsheet" href="style.css">
</head>
<body>
	<div class="card">
		<div class="top-section">
			<img src="{{ images.url }}" alt="onion.jpg">
		</div>
		<div class="name">[낱개] 양파(3개)</div>
		<div class="price">2,100원</div>

		<div class="top-section">
			<img src="{{ images.url }}" alt="porkbelly.jpg">
		</div>
		<div class="name">목우촌 프로포크 삼겹살(구이용)(100g)</div>
		<div class="price">2,780원</div>
		<div class="top-section">
			<img src="{{ images.url }}" alt="shinemuscat.jpg">
		</div>
		<div class="name">샤인머스켓(1.5kg/박스)</div>
		<div class="price">29,800원</div>
	</div>
</body>
</script>
</html>