{% extends "base.html" %}
{% load static %}

<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>less - 상품</title>
	<link rel="stylesheet" type="text/css" href="goods.css">
	<style>
		.vl {
		border-left: 6px solid green;
		height: 500px;
		}
	</style>

<div class="vl"></div>
</head>

<body>
	<div class="container">
		<h1 style="color: #8DB72A;"><img src="/static/images/logo.png" alt="logo" width="200px">상품</h1>
		<form>
			<fieldset>
				<legend style="color: #888B81;"><h1>오늘의 인기 상품</h1></legend>
				<ul><ul><ul><ul><ul><ul>
	
		<div class="grid" style="text-align: center;">
			<div class="goods_image" style="float: left; padding: 80px;">
				<img src="/static/images/onion.jpg" alt="goods_1" width="400px">

				<h4>양파</h4>
				<br><font color="gray">개당</font>
				<p><h4>￦1,500</h4></p>

				<button>담기</button>
			</div>

			<div class="goods_image" style="float: left; padding: 80px;">
				<img src="/static/images/porkbelly.jpg" alt="goods_2" width="400px">

				<h4>목우촌 프로포크 삼겹살(구이용)(100g)</h4>
				<br><font color="gray">100g당</font>
				<p><h4>￦2,700</h4></p>

				<button>담기</button>
			</div>

			<div class="goods_image" style="float: left; padding: 80px;">
				<img src="/static/images/shinemuscat.jpg" alt="goods_3" width="400px">

				<h4>샤인머스켓(1.5kg/박스)</h4>
				<br><font color="gray">박스당</font>
				<p><h4>￦29,800</h4></p>

				<button>담기</button>
			</div>
		</fieldset>
	</div>
		
	<div class="container">
		<form>
			<fieldset>
				<legend style="color: #888B81;"><h1>금주 인기 상품</h1></legend>
				<ul><ul><ul><ul><ul><ul>

			<div class="goods_image" style="float: left; padding: 80px;">

				<img src="/static/images/paprika.jpg" alt="goods_4" width="400px">

				<h4>피망</h4>
				<br><font color="gray">개당</font>
				<p><h4>￦1,500</h4></p>

				<button>담기</button>
			</div>
				
			<div class="goods_image" style="float: left; padding: 80px;">

				<img src="/static/images/potato.jpg" alt="goods_5" width="400px">

				<h4>감자</h4>
				<br><font color="gray">개당</font>
				<p><h4>￦1,500</h4></p>

				<button>담기</button>
			</div>

			<div class="goods_image" style="float: left; padding: 80px;">

				<img src="/static/images/carot.jpg" alt="goods_6" width="400px">
				<h4>당근</h4>
				<br><font color="gray">개당</font>
				<p><h4>￦1,500</h4></p>

				<button>담기</button>
			</div>
			</fieldset>
		</div>
	</div>
</body>
</script>
</html>