{% extends 'base.html' %}

{% block content %}
{% load static %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <!-- 메인 사진 -->
    <div class="box_image_1">
        <img src="/static/images/main.jpg" alt="main" width="100%" style="margin-top: 82px;">
    </div>

    <!-- 상품목록-->

    
    <a href="http://127.0.0.1:8000/goods"><h1 style="margin-left: 15px;">상품목록</h1></a>
    <br> 
    <hr width = "190px" color = "#8DB72A" size = "3" style="margin-left: 15px;">
    <div id="grid" style="text-align: center;margin-top: 60px;">
        <div class="product_image1">

            <img src="/static/images/onion.jpg" alt="main_product" width="200px" style="padding-right: 50px;">
            <h4>양파</h4>
            <br><font color="gray">개당</font>
            <p><h4>￦1,500</h4></p>

        </div>

        <div class="product_image1">

            <img src="/static/images/paprika.jpg" alt="main_product" width="200px" style="padding-right: 50px;">

            <h4>피망</h4>
            <br><font color="gray">개당</font>
            <p><h4>￦1,500</h4></p>

        </div>
            
        <div class="product_image1">

            <img src="/static/images/potato.jpg" alt="main_product" width="200px" style="padding-right: 50px;">

            <h4>감자</h4>
            <br><font color="gray">개당</font>
            <p><h4>￦1,500</h4></p>

        </div>

        <div class="product_image1">

            <img src="/static/images/carot.jpg" alt="main_product" width="200px">
            <h4>당근</h4>
            <br><font color="gray">개당</font>
            <p><h4>￦1,500</h4></p>

        </div>
    </div>
    

    <!-- 이벤트 -->
     <a href="http://127.0.0.1:8000/event"><h1 style="margin-left: 15px;">EVENT</h1>
    <br> 
    <hr width = "190px" color = "#8DB72A" size = "3" style="margin-left: 15px;">
    <div id="grid_2">
        <div class="main_event">
            <img src="/static/images/onegreen.jpg" alt="event_1" width="500px" >
                <div class="main_event_text">
                    <h2><font color="#8DB72A">#용기내</font> 캠페인</h2><br>
                    <h3>롯데마트는 용기내 캠페인과 함께합니다.</h3>
                </div>
        </div>

        <div class="main_event_2">
            <img src="/static/images/lifegreen.jpg" alt="event_2" width="600px">
            
            <h2><font style="color:rgb(228,41,28)">#NO</font> PLASTIC</h2><br>
            <h3>매년 7월3일은 노 플라스틱날<br> 롯데마트가 2025년 까지 플라스틱을 줄이기 위해 노력하겠습니다. </h3>
            
        </div>

        <div class="main_event_3">

            <img src="/static/images/sidedish.jpg" alt="event_3" width="600px">

            <h2><font style="color:rgb(228,41,28)">반찬 용기</font> 가져오세요!</h2><br>
            <h3>반찬 용기를 가져오면 반찬 20%를 더 드립니다!!!</h3>

        </div>
    </div>
</body>
{% endblock %}
</html>