{% extends "base.html" %}
{%load static%}

{% block content %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>less - 마이페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
</head>

<body>
    <div class="BN">
		<form>
			<h4 style="color: #888B81;">나의 쇼핑 내역</h4><br>
			<h6 style="color: #888B81;">주문 / 배송조회</h6><br><br>

			<h4 style="color: #888B81;">나의 관심 목록</h4><br>
			<h6 style="color: #888B81;">담은 상품</h6><br>
			<h6 style="color: #888B81;">최근 본 상품</h6><br>
			<h6 style="color: #888B81;">이벤트</h6><br><br>

			<h4 style="color: #888B81;">회원정보</h4><br>
			<h6 style="color: #888B81;">마이페이지</h6><br>
			<h6 style="color: #888B81;">나의 배송지 관리</h6><br>
			<h6 style="color: #888B81;">로그인 관리</h6>
		</form>
	</div>

    <div class="container">
    <br><br><br><br>
        <h1 style="color: #8DB72A; margin-top: 14px;">마이페이지</h1>
        <form>
        <br><br><br>
            <fieldset>
                <legend style="color: #888B81;">
                    <h1>나의 혜택 관리</h1>
                </legend>
                <ul><ul><ul><ul><ul><ul>


                <div class="grid" style="text-align: center;">
                    <div class="point" style="float: left; padding: 80px;">
                        <h1 style="color: #888B81;">less POINT</h1>
                        <h1 style="color: #8DB72A;">3000p</h1>
                    </div>

                    <div class="point" style="float: left; padding: 80px;">
                        <h1 style="color: #888B81;">L.POINT</h1>
                        <h1 style="color: #8DB72A;">500p</h1>
                    </div>

                    <div class="point" style="float: left; padding: 80px;">
                        <h1 style="color: #888B81;">누적 할인 금액</h1>
                        <h1 style="color: #8DB72A;">3500원</h1>
                    </div>
            </fieldset>
            <br><br><br><br>
            <fieldset>
                <legend style="color: #888B81;">
                    <h1>장바구니에 담은 상품</h1>
                </legend>
                <ul><ul><ul><ul><ul><ul>

                <div class="grid" style="float: left; padding: 80px;">
                    <div class="point" style="float: left; padding: 80px;">
                        <img src="/static/images/shinemuscat.jpg" alt="goods_3" width="215px">

                        <h4>샤인머스켓(1.5kg/박스)</h4>
                        <br>
                        <font color="gray">박스당</font>
                        <p>
                            <h4>￦29,800</h4>
                        </p>
                    </div>

                    <div class="point" style="float: left; padding: 80px;">
                        <img src="/static/images/onion.jpg" alt="goods_1" width="215px">

				        <h4>양파</h4>
				        <br><font color="gray">개당</font>
				        <p><h4>￦1,500</h4></p>

                    </div>
            </fieldset>
            <br><br><br><br>
            <fieldset>
                <legend style="color: #888B81;">
                    <h1>최근 본 상품</h1>
                </legend>
                <ul><ul><ul><ul><ul><ul>

                <div class="grid" style="float: left; padding: 80px;">
                    <img src="/static/images/porkbelly.jpg" alt="goods_2" width="215px">

				    <h4>목우촌 프로포크 삼겹살(구이용)(100g)</h4>
				    <br><font color="gray">100g당</font>
				    <p><h4>￦2,700</h4></p>
                </div>

                <div class="point" style="float: left; padding: 80px;">
                    <img src="/static/images/shinemuscat.jpg" alt="goods_3" width="215px">

				    <h4>샤인머스켓(1.5kg/박스)</h4>
				    <br><font color="gray">박스당</font>
				    <p><h4>￦29,800</h4></p>
                </div>

            </fieldset>
        </form>
    </div>

</body>

</html>
{% endblock %}